<section id="ccr-main-section">
<div class="container">


<section id="ccr-left-section" class="col-md-8">



  <div class="ccr-last-update">
    <div class="update-ribon">Fantasy Premier League</div> <!-- /.update-ribon -->
    <span class="update-ribon-right"></span> <!-- /.update-ribon-left -->
    <div class="update-news-text" id="update-news-text">
      <ul id="latestUpdate">
        <li>Team of the Weeks</li>
      </ul>
    </div> <!-- /.update-text -->

    <div class="update-right-border"></div> <!-- /.update-right-border -->
  </div> <!-- / .ccr-last-update -->


  <section id="ccr-slide-main" class="carousel slide" data-ride="carousel">

    <!-- Carousel items -->
    <div class="carousel-inner">
      <div class="active item">
        <div class="container slide-element">
          <img src="<%=  image_path('team/main-slide-1.jpg') %>" alt="Main Slide Image 1">
          <p><a href="#">Week 12</a></p>
        </div> <!-- /.slide-element -->
      </div> <!--/.active /.item -->

      <div class="item">
        <div class="container slide-element">
          <img src="<%=  image_path('team/main-slide-2.jpg') %>" alt="Main Slide Image 1">
          <p><a href="#">Week 11</a></p>
        </div> <!-- /.slide-element -->
      </div> <!--  /.item -->

      <div class="item">
        <div class="container slide-element">
          <img src="<%=  image_path('team/main-slide-3.jpg') %>" alt="Main Slide Image 1">
          <p><a href="#">Week 10</a></p>
        </div> <!-- /.slide-element -->
      </div> <!-- .item -->

      <div class="item">
        <div class="container slide-element">
          <img src="<%=  image_path('team/main-slide-4.jpg') %>" alt="Main Slide Image 1">
          <p><a href="#">Week 9</a></p>
        </div> <!-- /.slide-element -->
      </div> <!-- /.item -->


    </div> <!-- /.carousel-inner -->

    <!-- slider nav -->
    <a class="carousel-control left" href="#ccr-slide-main" data-slide="prev"><i class="fa fa-arrow-left"></i></a>
    <a class="carousel-control right" href="#ccr-slide-main" data-slide="next"><i class="fa fa-arrow-right"></i></a>

    <ol class="carousel-indicators">
      <li data-target="#ccr-slide-main" data-slide-to="0" class="active"></li>
      <li data-target="#ccr-slide-main" data-slide-to="1"></li>
      <li data-target="#ccr-slide-main" data-slide-to="2"></li>
      <li data-target="#ccr-slide-main" data-slide-to="3"></li>
    </ol> <!-- /.carousel-indicators -->


  </section><!-- /#ccr-slide-main -->




  <section id="ccr-latest-post-gallery">
    <div class="ccr-gallery-ttile">
      <span></span>
      <p>Player Features</p>
    </div><!-- .ccr-gallery-ttile -->


    <ul class="ccr-latest-post">
      <li>
        <div class="ccr-thumbnail">
          <img src="<%=  image_path('news/thumbnail1.jpg') %>" alt="Thumbnail 1">
          <p><a href="#postlink">Read More</a></p>
        </div>
        <h4><a href="#postlink">On this day in 1999: Hornets stung by high-flying Sunderland</a></h4>
      </li>
      <li>
        <div class="ccr-thumbnail">
          <img src="<%=  image_path('news/thumbnail2.jpg') %>" alt="Thumbnail 1">
          <p><a href="#postlink">Read More</a></p>
        </div>
        <h4><a href="#postlink">Under 21s: Fixture and ticket details</a></h4>
      </li>
      <li>
        <div class="ccr-thumbnail">
          <img src="<%=  image_path('news/thumbnail3.jpg') %>" alt="Thumbnail 1">
          <p><a href="#postlink">Read More</a></p>
        </div>
        <h4><a href="#postlink">On this day in 2000: Ferdinand makes record-breaking move to Leeds</a></h4>
      </li>
      <li>
        <div class="ccr-thumbnail">
          <img src="<%=  image_path('news/thumbnail4.jpg') %>" alt="Thumbnail 1">
          <p><a href="#postlink">Read More</a></p>
        </div>
        <h4><a href="#postlink">On this day in 2001: Henry pounces as Arsenal topple Man Utd</a></h4>
      </li>
      <li>
        <div class="ccr-thumbnail">
          <img src="<%=  image_path('news/thumbnail5.jpg') %>" alt="Thumbnail 1">
          <p><a href="#postlink">Read More</a></p>
        </div>
        <h4><a href="#postlink">On this day in 2013: Rampant Man City hit Spurs for six</a></h4>
      </li>
    </ul> <!-- /.ccr-latest-post -->

  </section> <!--  /#ccr-latest-post-gallery  -->

  <section class="bottom-border">
  </section> <!-- /#bottom-border -->



</section><!-- /.col-md-8 / #ccr-left-section -->



<aside id="ccr-right-section" class="col-md-4 ccr-home">


  <section id="ccr-calender">

    <table id="calendar">
      <caption >LIVE!</caption>
      <thead data-iceapc="1">
      <tr>
        <th width="15%" title="Monday" scope="col">Pos</th>
        <th colspan="4" scope="col" title="Tuesday">Club</th>
        <th width="15%" title="Saturday" scope="col">Pld</th>
        <th width="15%" title="Sunday" scope="col">Pts</th>
      </tr>
      </thead>

      <tfoot data-iceapc="4">
      <tr data-iceapc="3">
        <td colspan="4" id="prev"><a href="#" title="Previous">&laquo; FULL LEAGUE TABLE</a></td>
        <td colspan="3" id="next" class="pad"><a href="#" title="Next">FORM GUIDE &raquo;</a></td>
      </tr>
      </tfoot>

      <tbody>
      <tr>
        <td>1 &#9679;</td><td colspan="4"><div align="center"><a href="single.html">Chelsea</a></div></td>
        <td>11</td>
        <td >29</td>
      </tr>
      <tr>
        <td>2 &#9679;</td><td colspan="4"><div align="center"><a href="#">Southampton</a></div></td>
        <td>11</td>
        <td >25</td>
      </tr>
      <tr>
        <td>3 &#9679;</td><td colspan="4"><div align="center"><a href="#">Man City</a></div></td>
        <td>11</td>
        <td >21</td>
      </tr>
      <tr>
        <td>4 &uarr;</td><td colspan="4"><div align="center"><a href="#">West Ham</a></div></td>
        <td>11</td>
        <td >18</td>
      </tr>
      <tr>
        <td>5 &uarr;</td><td colspan="4"><div align="center"><a href="#">Swansea</a></div></td>
        <td>11</td>
        <td >18</td>
      </tr>
      <tr>
        <td>6 &darr;</td><td colspan="4"><div align="center"><a href="#">Arsenal</a></div></td>
        <td>11</td>
        <td >17</td>
      </tr>
      <tr>
        <td>7 &uarr;</td><td colspan="4"><div align="center"><a href="#">Man Utd</a></div></td>
        <td>11</td>
        <td >16</td>
      </tr>
      <tr>
        <td>8 &uarr;</td><td colspan="4"><div align="center"><a href="#">Newcastle</a></div></td>
        <td>11</td>
        <td >16</td>
      </tr>
      <tr>
        <td>9 &uarr;</td><td colspan="4"><div align="center"><a href="#">Stoke</a></div></td>
        <td>11</td>
        <td >15</td>
      </tr>
      <tr>
        <td>10 &darr;</td><td colspan="4"><div align="center"><a href="#">Everton</a></div></td>
        <td>11</td>
        <td >14</td>
      </tr>
      <tr>
        <td>11 &darr;</td><td colspan="4"><div align="center"><a href="#">Liverpool</a></div></td>
        <td>11</td>
        <td >14</td>
      </tr>
      <tr>
        <td>12 &darr;</td><td colspan="4"><div align="center"><a href="#">Spurs</a></div></td>
        <td>11</td>
        <td >14</td>
      </tr>
      <tr>
        <td>13 &darr;</td><td colspan="4"><div align="center"><a href="#">West Brom</a></div></td>
        <td>11</td>
        <td >13</td>
      </tr>
      <tr>
        <td>14 &uarr;</td><td colspan="4"><div align="center"><a href="#">Sunderland</a></div></td>
        <td>11</td>
        <td >12</td>
      </tr>
      <tr>
        <td>15 &darr;</td><td colspan="4"><div align="center"><a href="#">Hull</a></div></td>
        <td>11</td>
        <td >11</td>
      </tr>
      <tr>
        <td>16 &#9679;</td><td colspan="4"><div align="center"><a href="#">Aston Villa</a></div></td>
        <td>11</td>
        <td >11</td>
      </tr>
      <tr>
        <td>17 &#9679;</td><td colspan="4"><div align="center"><a href="#">Crystal Palace</a></div></td>
        <td>11</td>
        <td >9</td>
      </tr>
      <tr>
        <td>18 &#9679;</td><td colspan="4"><div align="center"><a href="#">Leicester</a></div></td>
        <td>11</td>
        <td >9</td>
      </tr>
      <tr>
        <td>19 &#9679;</td><td colspan="4"><div align="center"><a href="#">QPR</a></div></td>
        <td>11</td>
        <td >8</td>
      </tr>
      <tr>
        <td>20 &#9679;</td><td colspan="4"><div align="center"><a href="#">Burnley</a></div></td>
        <td>11</td>
        <td >7</td>
      </tr>
      </tbody>
    </table>

  </section>




</aside><!-- / .col-md-4  / #ccr-right-section -->


</div><!-- /.container -->
</section><!-- / #ccr-main-section -->